@font-face {
    font-family: "ContrailOne-Regular";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/ContrailOne-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "SourceCodePro-SemiboldIt";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/SourceCodePro-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins-Medium";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Poppins-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "SquadaOne-Regular";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/SquadaOne-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Merriweather-BlackItalic";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Merriweather-BlackItalic.woff2") format("woff2");
}

@font-face {
    font-family: "ZillaSlab-Medium";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/ZillaSlab-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Tomorrow-Medium";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Tomorrow-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Commissioner-Medium";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Commissioner-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "BreeSerif-Regular";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/BreeSerif-Regular.woff2") format('woff2');
}

@font-face {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/RobotoSlab-Bold.woff2") format('woff2');
}

@font-face {
    font-family: "Rubik";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Rubik-Medium.woff2") format('woff2');
}