* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    min-height: 600px;
    background: url('../img/background-img.jpg') no-repeat center center / cover;
    overflow: hidden;
    position: relative;
}

/* ---------- NAVIGATION BAR ---------- */
#nav-bar {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #181615;
    font-size: calc(2.1vh + 6px);
    border-bottom: 0.7vh solid #9e2a2b;
    position: absolute;
    top: 0;
    z-index: 1;
}

#code-name {
    display: flex;
    align-items: center;
}

#code {
    font-family: "ContrailOne-Regular";
    font-weight: bold;
}

.bracket {
    color: #c44536;
}

#slash {
    color: #ffffff;
}

#name {
    color: #fae588;
    font-family: "SourceCodePro-SemiboldIt";
    padding-left: 0.3em;
}

#dot {
    color: #40e0d0;
}

.nav-menu {
    height: 100%;
    display: flex;
}

#about-btn, #projects-btn {
    border-left: 0.4vh solid #464544;
}

#contact-btn, #projects-btn {
    border-right: 0.4vh solid #464544;
}

.nav-btn {
    display: flex;
    align-items: center;
    color: #ccc5b9;
    font-family: "Poppins-Medium";
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease-in-out;
    z-index: 1;
}

.nav-btn:hover,
.nav-btn:focus {
    color: white;
}

.nav-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2a2827;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom;
    transform: scaleY(0);
}

.nav-btn:hover::before {
    transform: scaleY(1);
}

/* ---------- MAIN SECTION ---------- */
#main-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(90, 90, 90, 0.4);
    position: relative;
}

#title-card {
    width: calc(59.5vh + 185px);
    height: calc(25.5vh + 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 0.45vh 0.45vh black;
    background-color: rgba(24, 22, 21, 0.6);
    border-radius: 1.5vh;
}

#front-end {   
    font-family: "SquadaOne-Regular";
    font-size: calc(6.5vh + 20px);
    color: #ffffff;
}

#web-dev {
    font-family: "Merriweather-BlackItalic";
    font-size: calc(5.55vh + 17px);
    color: #73d2de;
}

#sub-text {
    font-family: "ZillaSlab-Medium";
    font-size: calc(2vh + 7px);
    letter-spacing: 0.15vh;
    color: #f0f3bd;
    text-shadow: none;
    margin: 1.5vh;
}

.arrows {
    font-weight: bold;
    color: #e8a035;
    padding-right: 0.7vh;
}

#links {
    width: calc(30vh + 85px);
    display: flex;
    justify-content: space-between;
    margin-top: calc(2vh + 8px);
}

.link-button {
    width: calc(8.5vh + 20px);
    height: calc(8.5vh + 20px);
    background-color: rgba(24, 22, 21, 0.9);
    border-radius: 1vh;
    cursor: pointer;
}

.anchor {
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(5vh + 10px);
    transition: 0.2s ease-in-out;
}

#git-hub {
    background-image: url('../img/logos/github-logo.svg');
}

#git-hub:hover {
    background-image: url('../img/logos/github-logo-hover.svg');
}

#linked-in {
    background-image: url('../img/logos/linkedin-logo.svg');
}

#linked-in:hover {
    background-image: url('../img/logos/linkedin-logo-hover.svg');
}

#twitter {
    background-image: url('../img/logos/twitter-logo.svg');
}

#twitter:hover {
    background-image: url('../img/logos/twitter-logo-hover.svg');
}

/* ---------- MODALS ---------- */
.modal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.modal.show {
    opacity: 1;
    pointer-events: auto;
}

.active {
    color: #ffffff;
    background-color: #2a2827;
}

.modal-body {
    width: calc(48.5vh + 150px);
    background-color: #fefefe;
    font-family: "Poppins-Medium";
    border-radius: 1.5vh;
    padding: calc(2.8vh + 7px);
    position: relative;
}

.header {
    font-size: calc(2.15vh + 6px);
    font-weight: bold;
}

.close-btn {
    height: calc(2.9vh + 9px);
    width: calc(2.9vh + 9px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border-radius: 50%;
    background-color: #2a2827;
    background-image: url('../img/close.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: calc(1.2vh + 3px);
    margin-top: calc(1.2vh + 3px);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.close-btn:hover {
    background-image: url('../img/close-hover.png');
    background-color: #181615;
}

.border-line {
    width: 100%;
    height: 2px;
    background-color: red;
}

.modal-text {
    font-size: calc(1.75vh + 5.5px);
    text-align: justify;
    padding-top: 1vh;
}

#projects-grid {
    width: 95%;
    height: calc(35vh + 110px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(1.5vh + 5px);
    margin-top: calc(1.3vh + 3px);
    margin-bottom: calc(1.3vh + 3px);
    margin-left: auto;
    margin-right: auto;
}

.project-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.thumbnail {
    width: 100%;
    height: 77%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #aaa;
    border-radius: 3px;
    background-color: #dfdad2;
    cursor: pointer;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    position: absolute;
    top: 0;
}

.thumbnail:hover {
    border: 2px solid #181615;
}

.project {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    transition: 0.2s ease-in-out;
}

.project:hover {
    transform: scale(1.1);
}

.hover {
    width: 100%;
    height: 100%;
    background-color: rgba(24, 22, 21, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.project:hover .hover {
    opacity: 1;
}

.title {
    width: 100%;
    height: 23%;
    background-color: #181615;
    font-size: calc(1.8vh + 6px);
    letter-spacing: 0.25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.view-code {
    width: calc(11.5vh + 35px);
    height: 19%;
    font-family: "Roboto Slab";
    font-size: calc(1.6vh + 4px);
    letter-spacing: 0.2vh;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vh;
    background-color: #2a2827;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;
}

.view-code:hover {
    color: #fae588;
    background-color: #181615;
}

#page-nav {
    --nav-size: calc(3.9vh + 9px);
    width: 100%;
    height: var(--nav-size);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: calc(1.3vh + 3px);
}

#prev {
    width: var(--nav-size);
    height: 100%;
    background-image: url('../img/prev-button.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    background-color: #2a2827;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#prev:hover {
    background-image: url('../img/prev-button-hover.png');
    background-color: #181615;
}

#number {
    width: var(--nav-size);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 0.5vh solid #2a2827;
    border-radius: 50%;
    color: #2a2827;
    font-family: "Poppins-Medium";
    font-size: calc(2vh + 5px);
    font-weight: bold;
}

#next {
    width: var(--nav-size);
    height: 100%;
    background-image: url('../img/next-button.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    background-color: #2a2827;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#next:hover {
    background-image: url('../img/next-button-hover.png');
    background-color: #181615;
}

.inactive-btn {
    opacity: 0.5;
    pointer-events: none;
}

/* ---------- CONTACT FORM ---------- */
#contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
}

label {
    display: block;
    font-size: calc(1.75vh + 5.5px);
}

.form-group {
    margin-bottom: calc(0.5vh + 5px);
}

input,
textarea {
    width: 100%;
    font-size: calc(1.4vh + 4px);
    padding: 1vh;
    background-color: #dfdad2;
    border: 1px solid gray;
}

input:focus,
textarea:focus {
    outline: none;
}

textarea {
    resize: none;
}

input:focus::placeholder, 
textarea:focus::placeholder {
    color: transparent;
}

#button-section {
    width: 100%;
    height: calc(4.1vh + 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 1.5vh;
}

#send-btn {   
    width: calc(10.5vh + 25px);
    height: 100%;
    font-family: "Roboto Slab";
    font-size: calc(1.85vh + 5px);
    letter-spacing: 0.15vh;
    border: 0;
    color: #aaa;
    background-color: #2a2827;
    border-radius: 0.7vh;
    transition: 0.2s ease-in-out;
    outline: none;
}

#send-btn:hover {
    color: #fae588;
    background-color: #181615;
    cursor: pointer;
}

#message-sent {
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: "Tomorrow-Medium";
    font-size: calc(1.6vh + 4px);
    border: 0;
    color: #7dba3a;
    letter-spacing: 0.5px;
    font-weight: bold;

    animation-name: message-sent;
    animation-duration: 2s;
    animation-delay: 3s;
}

#sent-icon {
    width: calc(2.3vh + 7px);
    padding-right: calc(0.2vh + 2px);
}

@keyframes message-sent {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* ---------- FOOTER ---------- */
#footer {
    width: 100%;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181615;
    border-top: 0.6vh solid #ffffff;
    color: #ccc5b9;
    font-family: "BreeSerif-Regular";
    font-size: calc(1.4vh + 7px);
    letter-spacing: 0.15vh;
    position: absolute;
    bottom: 0;
    padding-bottom: 0.5vh;
}

/* ---------- BURGER MENU ---------- */
.burger-menu {
    width: 9.5vw;
    height: 9.5vw;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: 0.5vw solid rgba(255, 255, 255, 0.2);
    border-radius: 1.25vw;
    cursor: pointer;
    transition: 0.3s;
}

.burger-line {
    height: 8%;
    width: 65%;
    background-color: #ffffff;
}

.burger-menu:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

/* ---------- PRELOAD IMAGES ---------- */
#preload-image {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    background: url('../img/close-hover.png'),
                url('../img/next-button-hover.png'),
                url('../img/prev-button-hover.png'),
                url('../img/logos/github-logo-hover.svg'),
                url('../img/logos/linkedin-logo-hover.svg'),
                url('../img/logos/twitter-logo-hover.svg');
}

/* ---------- MEDIA QUERIES ---------- */
@media screen and (max-width: 1024px) and (orientation: portrait) {
    #nav-bar {
        height: 13.4vw;
        justify-content: space-between;
        font-size: 3.6vw;
        border-bottom: 0.8vw solid #9e2a2b;
    }

    #code-name {
        margin-left: 4vw;
    }

    #about-btn {
        border-left: 0;
    }

    #projects-btn {
        border-left: 0.5vw solid #464544;
        border-right: 0.5vw solid #464544;
    }
    
    #contact-btn {
        border-right: 0;
    }

    .nav-menu {
        height: 11.5vw;
        background-color: #181615;
        position: absolute;
        right: 0;
        top: calc(100% + 0.8vw);
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        border-bottom-left-radius: 3vw;
        overflow: hidden;
    }
    
    .nav-active {
        transform: translateX(0%);
    }
    
    .burger-menu {
        display: flex;
        margin-right: 3vw;
    }

    #title-card {
        width: 100vw;
        height: 49vw;
        text-shadow: 0.6vw 0.6vw black;
        border-radius: 0;
    }

    #front-end {
        font-size: 12vw;
    }

    #web-dev {
        font-size: 10vw;
    }

    #sub-text {
        font-size: 3.8vw;
        letter-spacing: 0.15vw;
        margin: 2.65vw;
    }

    .arrows {
        padding-right: 1vw;
    }

    #links {
        width: 53.25vw;
        margin-top: 4vw;
    }

    .link-button {
        width: 14.3vw;
        height: 14.3vw;
        background-size: 8vw 8vw;
        border-radius: 1.25vw;
    }

    .anchor {
        background-size: 8vw;
    }

    .modal-body {
        width: 87vw;
        border-radius: 2vw;
        padding: 4.75vw;
    }

    .header {
        font-size: 3.55vw;
    }

    .close-btn {
        height: 5.25vw;
        width: 5.25vw;
        margin-right: 2vw;
        margin-top: 2vw;
        font-size: 4.5vw;
    }

    .modal-text {
        font-size: 3.15vw;
        padding-top: 1.25vw;
    }

    #projects-grid {
        height: 67vw;
        gap: 2.7vw;
        margin-top: 2.7vw;
        margin-bottom: 2.7vw;
    }

    .title {
        font-size: 3.5vw;
    }

    .view-code {
        width: 19vw;
        font-size: 2.75vw;
        letter-spacing: 0.1vw;
        border-radius: 0.6vw;
    }

    #page-nav {
        height: 6.5vw;
        margin-top: 2.7vw;
    }

    #prev, #number, #next {
        width: 6.5vw;
        height: 6.5vw;
    }

    #number {
        border: 0.6vw solid #2a2827;
        font-size: 3.5vw;
    }

    #contact-form {
        padding-top: 1.25vw;
    }

    label {
        font-size: 3.15vw;
    }

    .form-group {
        margin-bottom: 1.25vw;
    }

    input,
    textarea {
        font-size: 2.65vw;
        padding: 1.35vw;
    }

    #button-section {
        margin-top: 2vw;
    }

    #send-btn {
        width: 16vw;
        height: 6.75vw;
        font-size: 3.15vw;
        letter-spacing: 0.2vw;
        border-radius: 0.9vw;
    }

    #message-sent {
        height: 6.75vw;
        font-size: 2.7vw;
    }

    #sent-icon {
        width: 4vw;
        padding-right: 0.7vw;
    }

    #footer {
        height: 12vw;
        border-top: 0.8vw solid #ffffff;
        font-size: 2.8vw;
        letter-spacing: 0.2vw;
        padding-bottom: 0.7vw;
    }
}

@media screen and (max-width: 500px) {
    #nav-bar {
        height: 17.5vw;
        justify-content: space-between;
        font-size: 4.5vw;
        border-bottom: 4px solid #9e2a2b;;
    }

    #code-name {
        font-size: 5.3vw;
        margin-left: 4vw;
    }

    #about-btn {
        border-left: 0;
    }

    #projects-btn {
        border-left: 0.8vw solid #464544;
        border-right: 0.8vw solid #464544;
    }

    #contact-btn {
        border-right: 0;
    }

    .nav-menu {
        height: 15vw;
        background-color: #181615;
        position: absolute;
        right: 0;
        top: calc(100% + 4px);
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        border-bottom-left-radius: 3vw;
        overflow: hidden;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .burger-menu {
        display: flex;
        width: 12.5vw;
        height: 12.5vw;
        border: 0.6vw solid rgba(255, 255, 255, 0.2);
        border-radius: 1.75vw;
        margin-right: 3vw;
    }

    #title-card {
        height: 60vw;
        text-shadow: 0.75vw 0.75vw black;
    }

    #front-end {
        font-size: 15.5vw;   
        line-height: 13vw;
    }

    #hide-web {
        display: none;
    }

    #web-dev {
        font-size: 13.5vw;
    }  
    
    #sub-text {
        font-size: 4.5vw;
        margin: 3vw;
    }

    #links {
        width: 75vw;
        margin-top: 5vw;
    }

    .link-button {
        width: 20vw;
        height: 20vw;
        background-size: 11vw 11vw;
        border-radius: 1.6vw;
    }

    .anchor {
        background-size: 11vw;
    }

    .modal-body {
        width: 90vw;
        padding: 6.5vw;
    }

    .header {
        font-size: 5.5vw;
    }

    .close-btn {
        width: 7.75vw;
        height: 7.75vw;
        margin-right: 2.5vw;
        margin-top: 2.5vw;
        font-size: 7vw;
    }

    .modal-text {
        font-size: 4.55vw;
        padding-top: 2vw;
    }

    #projects-grid {
        width: 100%;
        height: 380px;
        gap: 4.5vw;
        margin-top: 4.5vw;
        margin-bottom: 4.5vw;
    }

    .project {
        transform: scale(1.25);
    }

    .project:hover {
        transform: scale(1.35);
    }

    .title {
        height: 20%;
    }

    .view-code {
        width: 28vw;
        font-size: 4vw;
        letter-spacing: 0.2vw;
        border-radius: 1.1vw;
    }

    #page-nav {
        height: 10vw;
        margin-top: 4.5vw;
    }

    #prev, #number, #next {
        width: 10vw;
        height: 10vw;
    }

    #number {
        border: 1vw solid #2a2827;
        font-size: 4.5vw;
    }

    #contact-form {
        padding-top: 2vw;
    }

    label {
        font-size: 4.55vw;
    }

    .form-group {
        margin-bottom: 2vw;
    }

    input,
    textarea {
        font-size: 4vw;
        padding: 1.5vw;
    }

    #button-section {
        margin-top: 3vw;
    }

    #send-btn {
        width: 25vw;
        height: 10vw;
        font-size: 4.5vw;
        border-radius: 1.25vw;
    }

    #message-sent {
        height: 10vw;
        font-size: 4.5vw;
    }

    #sent-icon {
        width: 5.3vw;
        padding-right: 1vw;
    }

    #footer {
        height: 16vw;
        border-top: 4px solid white;
        font-size: 4.25vw;
        letter-spacing: 0.3vw;
    }
}